*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0px;
}

main{
    display: flex;
    height: 100%;
}

main>div{
    height: 100%;
    width: 50%;
}

#inputSection{
    background-color: aquamarine;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#outputSection{
    background-color: coral;
}

#teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
}

.team{
    border: solid;
    border-radius: 20px;
}

.team>*{
    text-align: center;
    padding: 1rem 1.5rem;
    margin: 0px;
}

.teamMember{
    border-top: solid black 2px;
    margin: 0px;
}

#classGroup, #storagedGroups{
    border: solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.25rem;
}

#classGroupHeader{
    display: flex;
    justify-content: space-between;
}

#groupTitle, #storagedGroupsTitle{
    margin: 0px;
}

#students, #groups{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.student, .storagedGroup{
    display: flex;
    align-items: center;
    display: flex;
    border: solid 1px;
    border-radius: 0.5rem;
}

.student p, .storagedGroup p{
    margin: 0px;
    padding: 0.4rem;
}

.removeStudentCross, .removeGroupCross{
    height: 1rem;
    margin: 0.4rem;
}