html, body{
    height: 100%;
    margin: 0px;
}

main{
    display: flex;
    height: 100%;
}

main>div{
    height: 100%;
    width: 50%;
}

#inputSection{
    background-color: aquamarine;
}

#outputSection{
    background-color: coral;
}

#teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.team{
    border: solid;
    padding: 0 2rem;
}